// Custom CSS in this bitch

body,
html {
  font-family: "SF Pro Display", sans-serif;

  // overflow: hidden;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
#site-border {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: calc(100%);
  height: calc(100%);
  border: 16px solid $primary;
}

// magic sauce to center content on X and Y axis
#center-content {
  position: absolute;
  top: 50%;
  // width: 100%;
  transform: translateY(-50%);
}

#view-project {
  z-index: 2;
  position: absolute;
  bottom: 14px;

  // styling
  background-color: $primary;
  color: $background;
  width: 200px;
  height: 75px;
  font-weight: lighter;
  box-shadow: 2px 2px 20px rgb(0 0 0 / 20%);
  outline: none;
}

// work page image shit
#image-temp {
  width: 325px;
  height: 400px;
  background-color: $secondary;
}

// line between NXT and BCK buttons
#project-line {
  border-left: 1px solid $black;
  height: 36px;
}

.nav-90 {
  display: block;
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  position: fixed;
  left: 100%;
  padding-left: 20px;
  width: 100vh;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.hero-name {
  font-style: italic;
  line-height: 0.65;
}

.page-title {
  font-style: italic;
  line-height: 0.65;
}

.project-title {
  font-size: 24px;
  font-weight: light;
}

.nav-link {
  font-weight: bold;
  color: $black;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 1.5rem;
  outline: none;
}

.nav-link:hover {
  color: $grey;
}

.nav-active {
  border-bottom: 1px solid $black;
  height: 15px;
  padding-bottom: 1.5rem;
}

.experience-company {
  font-weight: bold;
}

.clickable {
  color: $grey;
  text-decoration: underline;
}

.clickable:hover {
  color: $black;
  text-decoration: none;
}

.backNextButton:hover {
  color: $grey;
}

.form-text {
  font-size: 24px;
  padding-top: 48px;
}

.contact-inline-input {
  border: 0;
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 52px;
  color: $grey;
  display: inline;
  word-wrap: break-word;
  padding: 0;
  display: inline;
  box-sizing: content-box;
  min-width: 16px;
  text-shadow: none;
  outline: none;
}

.contact-inline-input-who {
  width: 139px;
}
